# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\django__2021\selected_related_pro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
